<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Preview Print</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (ticket) {
    <ion-card>
      <ion-card-content>
        <p><b>Vale:</b> {{ticket.vale}}</p>
        <p><b>Placa:</b> {{ticket.placa}}</p>
        <p><b>Piloto:</b> {{ticket.piloto}}</p>
        <p><b>Viaje:</b> {{ticket.viaje}}</p>
        <p><b>Galones:</b> {{ticket.galones}}</p>
        <p><b>Combustible:</b> {{ticket.combustible.nombre}}</p>
      </ion-card-content>
    </ion-card>
     <!-- En Android -->
     @if (!isWeb && showRetryButton) {
      <ng-container>
        <ion-button expand="block" color="primary" (click)="retryPrint()">
          Reintentar impresión
        </ion-button>
      </ng-container>
     }
    

    <!-- En Web -->
    @if (isWeb) {
      <ng-container>
        <ion-button expand="block" color="medium" (click)="goBack()">
          Volver al formulario
        </ion-button>
      </ng-container>
    }

  } 
  @else {
    <p>No hay datos para mostrar, algo falló.</p>
  }
  
</ion-content>