<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunmi V2s POC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="print.printDemo()">Imprimir demo</ion-button>
</ion-content>
